<div class="selector" v-bind:class="{selected:isAnyItemSelected()}">
    <input class="form-control w-100" 
        v-model="data.text" 
        v-bind:name="name" 
        v-bind:placeholder="getPlaceholder()" 
        v-on:keyup="onTextChanged(data.text);enable();" 
        v-on:focus="enable()" 
        v-on:blur="onTextFieldBlur()" 
        v-on:keydown.down.prevent="pointerForward()" 
        v-on:keyup.enter="$event.target.nextElementSibling.focus()" 
        v-on:keydown.up.prevent="pointerBackward()" 
        v-on:keydown.enter.prevent.stop.self="selectItemByIndex(data.pointer)" 
        v-on:keydown.tab.self="disable()">
    
    <i class="fa fa-remove" v-show="canDeselect()" v-on:click="selectItem(undefined);disable();"></i>
    <i class="fa fa-circle-o-notch fa-spin fa-fw" v-if="data.loading "></i>
    <ul class="card list-group" v-show="isEnabled()" v-on:mouseover="disableDisable()" v-on:mouseout="enableDisable()"va>
        <li class="list-group-item list-group-item-action" v-for="(item, index) in getItensByText(data.text)" v-bind:class="{'list-group-item-primary':isItemSelected(item),'active':isPointerAt(index)}" v-on:click.prevent="selectItem(item);disable();" v-html="getItemLabel(item,true)"></li>
    </ul>
</div>