<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-5 form-group">
                <div class="card mnh-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <legend>{{alias}}</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Curso</label>
                                <selector v-model="model.curso" v-bind:itens="ui.cursos" placeholder="Curso" label="label" v-on:change="onCursoChanged"></selector>
                            </div>
                            <div class="col-12 form-group">
                                <label class="control-label">Grade</label>
                                <div class="input-group">
                                    <selector class="w-100" v-model="model.cursoGrade" v-bind:itens="ui.cursoGrades" placeholder="Grade" label="label" v-bind:clear="clearCursoGrade"></selector>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" v-bind:disabled="!model.cursoGrade" v-on:click="openDialogCursoGrade()">Ver Grade</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <label class="control-label">Data de Início</label>
                                <date-catcher v-model="model.dataInicio" placeholder="Data de início" label="DD/MM/YYYY" v-bind:model-as-date="true"></date-catcher>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 form-group">
                <div class="card mnh-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <legend>Períodos</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Início</label>
                                <input class="form-control" type="text" v-mask="'##:##'" v-model="ui.instituicaoCursoPeriodo.inicio" placeholder="Início hh:mm">
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Início da Pausa</label>
                                <input class="form-control" type="text" v-mask="'##:##'" v-model="ui.instituicaoCursoPeriodo.pausaInicio" placeholder="Início hh:mm">
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Fim da Pausa</label>
                                <input class="form-control" type="text" v-mask="'##:##'" v-model="ui.instituicaoCursoPeriodo.pausaFim" placeholder="Início hh:mm">
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Fim</label>
                                <input class="form-control" type="text" v-mask="'##:##'" v-model="ui.instituicaoCursoPeriodo.fim" placeholder="Fim hh:mm">
                            </div>
                            <div class="col-12 col-md-9 form-group">
                                <label class="control-label invisible">Ocupar</label>
                                <div class="btn-group d-flex" data-toggle="buttons">
                                    <button class="btn btn-primary w-100" v-for="button in ui.instituicaoButtons" v-on:click="toggleDiaSemana(button.value,ui.instituicaoCursoPeriodo)" v-bind:class="{'active':isDiaSemanaSelected(button.value,ui.instituicaoCursoPeriodo)}">
                                        {{button.labelShort}}
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label invisible">Ocupar</label>
                                <button class="btn btn-primary btn-block" v-on:click="addPeriodo(ui.instituicaoCursoPeriodo)">
                                    <i class="fa fa-plus"></i>
                                    <span>Adicionar</span>
                                </button>
                            </div>
                            <div class="col-12">
                                <hr></hr>
                            </div>
                            <div class="col-12 form-group">
                                <card-table v-bind:columns="getTablePeriodo().columns" v-bind:itens="getTablePeriodo().itens" v-bind:menu="getTablePeriodo().menu"></card-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 form-group">
                <div class="card mnh-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <legend>Turmas</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <label class="control-label">Nome</label>
                                <input class="form-control" type="text" v-model="ui.instituicaoCursoTurma.nome" placeholder="Nome">
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <label class="control-label">Descrição</label>
                                <input class="form-control" type="text" v-model="ui.instituicaoCursoTurma.descricao" placeholder="Descrição">
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <label class="control-label invisible">Ocupar</label>
                                <button class="btn btn-primary btn-block" v-on:click="addTurma(ui.instituicaoCursoTurma)">
                                    <i class="fa fa-plus"></i>
                                    <span>Adicionar</span>
                                </button>
                            </div>
                            <div class="col-12">
                                <hr></hr>
                            </div>
                            <div class="col-12 form-group">
                                <card-table v-bind:columns="getTableTurma().columns" v-bind:itens="getTableTurma().itens" v-bind:menu="getTableTurma().menu"></card-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group text-right">
                <button class="btn btn-primary" v-on:click="save()">Salvar</button>
            </div>
        </div>
    </div>
    <b-modal ref="modal-curso-grade" size=" mw-100" no-close-on-backdrop no-close-on-esc hide-header-close hide-footer title="Grade">
        <div class="row" v-if="model.cursoGrade">
            <div class="col-12 form-group">
                <card-table v-bind:columns="getTableCursoGradeMateria().columns" v-bind:itens="model.cursoGrade.materias" v-bind:menu="getTableCursoGradeMateria().menu"></card-table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" v-on:click="closeDialogCursoGrade()">Sair</button>
            </div>
        </div>
    </b-modal>
</div>