<div class="card">
    <div class="card-header pb-0">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" v-on:click="setTab('list')">
                <span class="nav-link" v-bind:class="{'active':isTab('list')}">Grades</span>
            </li>
            <li class="nav-item" v-if="isAction('add')" v-on:click="setTab('add')">
                <span class="nav-link" v-bind:class="{'active':isTab('add')}">Nova Grade
                    <i class="fa fa-remove ml-2" v-on:click="disableActions()"></i>
                </span>
            </li>
            <li class="nav-item" v-if="isAction('upd')" v-on:click="setTab('upd')">
                <span class="nav-link" v-bind:class="{'active':isTab('upd')}">{{ model.descricao }}
                    <i class="fa fa-remove ml-2" v-on:click="disableActions()"></i>
                </span>
            </li>
        </ul>
    </div>
    <div class="card-body" v-if="isTab('list')">
        <div class="row">
            <div class="col-12 form-group text-right">
                <button class="btn btn-primary" v-on:click="enableAdd()">Nova Grade</button>
            </div>
            <div class="col-12">
                <card-table-component v-bind:columns="getColumnsGrade()" v-bind:itens="getItensGrade()" v-bind:menu="getMenuGrade()"></card-table-component>
            </div>
        </div>
    </div>
    <div class="card-body" v-if="isTab('add')||isTab('upd')">
        <div class="row">
            <div class="col-12 form-group">
                <input class="form-control" type="text" placeholder="Descrição" v-model="model.descricao">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-5 form-group">
                        <selector v-model="ui.cursoGradeMateria.materia" v-bind:itens="ui.materias" placeholder="Materia" label="label"></selector>
                    </div>
                    <div class="col-12 col-md-5 form-group">
                        <input class="form-control" v-model="ui.cursoGradeMateria.descricao">
                    </div>
                    <div class="col-12 col-md-2 form-group">
                        <button class="btn btn-primary" v-on:click="addMateria(ui.cursoGradeMateria)">Add Materia</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <card-table-component v-bind:columns="getColumnsMateria()" v-bind:itens="getItensMateria()" v-bind:menu="getMenuMateria()"></card-table-component>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group text-right">
                <button class="btn btn-primary" v-on:click="save()">Salvar</button>
            </div>
        </div>
    </div>
</div>