<div class="row card-table">
    <div class="col-12 d-md-none d-lg-none mb-4" v-if="getMenuMain() && getMenuMain().length">
        <dropdown v-model="ui.showDropDown" v-bind:itens="getMenuItensAsDropDown(getMenuMain())" class="w-100">
            <button class="btn btn-primary btn-block"><i class="fa fa-bars mr-2"></i>Menu</button>
        </dropdown>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-striped table-sm" cellpadding="0" cellspacing="0" width="100%" border="1">
            <thead>
                <tr>
                    <th class="align-middle" v-for="column in getColumns()" v-html="getColumnLabel(column)" v-bind:title="column.config.title||getColumnLabel(column)"></th>
                    <th class="align-middle">
                        <span v-if="!getMenuMain() || !getMenuMain().length">Menu</span>
                        <dropdown v-if="getMenuMain() && getMenuMain().length" v-model="ui.showDropDown" v-bind:itens="getMenuItensAsDropDown(getMenuMain())" class="text-right">
                            <button class="btn btn-primary"><i class="fa fa-bars mr-2"></i>Menu</button>
                        </dropdown>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in getItens()" v-if="getItens()">
                    <template v-for="column in getColumns()">
                            <td class="align-middle" v-if="!isColumnInput(column)" v-bind:data-column-name="getColumnLabel(column)" v-html="getColumnValue(column,item)"></td>
                            <td class="align-middle" v-if="isColumnInput(column)" v-bind:data-column-name="getColumnLabel(column)" v-bind:title="column.config.title||getColumnLabel(column)">
                                <input class="form-control" v-if="util.isFormBuilderInputText(column.config.input) && column.config.input.mask" v-model="item[column.config.input.key]" v-bind:placeholder="[column.config.input.description]" v-mask="column.config.input.mask">
                                <input class="form-control" v-if="util.isFormBuilderInputText(column.config.input) && !column.config.input.mask" v-model="item[column.config.input.key]" v-bind:placeholder="[column.config.input.description]">
                                <flagger v-if="util.isFormBuilderInputFlagger(column.config.input)" v-model="item[column.config.input.key]" v-bind:entries="column.config.input.entries"></flagger>
                            </td>
                    </template>
                    <td class="align-middle" v-bind:data-column-name="'Menu'">
                        <button class="btn btn-primary btn-sm m-1" type="button" role="button" v-bind:class="getMenuButtonClass(menuItem,item)" v-for="menuItem in getMenuRow()" v-bind:title="getMenuItemLabel(menuItem,item)" v-on:click="doCallMenuMethod(menuItem,item)" v-bind:disabled="isMenuItemDisabled(menuItem,item)">
                            <i v-bind:class="getMenuIconClass(menuItem,item)"></i><span class="pl-2" v-html="getMenuItemLabel(menuItem,item)"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>