<div class="row">
    <nav class="navbar navbar-dark bg-primary w-100">
        <div class="row form-inline w-100">
            <div class="col-12 col-md-7 align-self-stretch p-hidden-md-down">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-book mr-2"></i>
                    <b>4School - Admin</b>
                </a>
            </div>
            <div class="col-9 col-md-4 align-self-stretch">
                <selector v-bind:itens="getRotas()" placeholder="Buscar" v-bind:label="getRotasLabel" v-on:change="aoSelecionarRota" v-bind:clear-after="true"></selector>
            </div>
            <div class="col-3 col-md-1 d-flex align-self-stretch justify-content-end">
                <dropdown v-model="ui.showUserDropdown" v-bind:itens="ui.userDropdownItens" class="d-inline-block w-100 text-right">
                    <button class="btn btn-primary h-100">
                        <i class="fa fa-bars"></i>
                    </button>
                </dropdown>
            </div>
        </div>
    </nav>
</div>