<div class="row">
    <div class="col-12 col-md-8">
        <div class="card text-left">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Téc. em Informática</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Ensino Médio - 1º Ano</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-8">
                        Escola Técnica Centro Paula Souza
                    </div>
                    <div class="col-12 col-md-4 text-right">
                        2º Período - 10/03/17 até 06/06/17
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Matemática</th>
                                    <th>Português</th>
                                    <th>História</th>
                                    <th>Geográfia</th>
                                    <th>Biologia</th>
                                    <th>Física</th>
                                    <th>Quimíca</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td data-column-name="Matemática"><b class="bg-success d-block px-2 text-white w-100 rounded">10</b></td>
                                <td data-column-name="Português"><b class="bg-success d-block px-2 text-white w-100 rounded">10</b></td>
                                <td data-column-name="História"><b class="bg-success d-block px-2 text-white w-100 rounded">10</b></td>
                                <td data-column-name="Geográfia"><b class="bg-success d-block px-2 text-white w-100 rounded">10</b></td>
                                <td data-column-name="Biologia"><b class="bg-success d-block px-2 text-white w-100 rounded">9</b></td>
                                <td data-column-name="Física"><b class="bg-warning d-block px-2 text-white w-100 rounded">5</b></td>
                                <td data-column-name="Quimíca"><b class="bg-danger d-block px-2 text-white w-100 rounded">4</b></td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <a href="#" class="btn btn-sm btn-link">Ver Histórico Completo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <h3>Lançamentos Recentes</h3>
        <hr>
        <div class="card text-left mb-2">
            <div class="card-header p-2">
                19/04/2017 - Matemática
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-12 text-left">
                        Prova 1º sub-periodo.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 text-left my-auto">
                        <b class="bg-success text-white" style="padding: 0px 10px;border-radius: 2px;">Avaliação : 10</b>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-link">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-left mb-2">
            <div class="card-header p-2">
                19/04/2017 - Português
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-12 text-left">
                        Prova 1º sub-periodo.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 text-left my-auto">
                        <b class="bg-success text-white" style="padding: 0px 10px;border-radius: 2px;">Avaliação : 10</b>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-link">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-left mb-2">
            <div class="card-header p-2">
                19/04/2017 - História
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-12 text-left">
                        Conteúdo - Revolução Industriál.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 text-left my-auto">
                        <button class="btn btn-sm btn-light"><i class="fa fa-paperclip"></i></button>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-link">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-left mb-2">
            <div class="card-header p-2">
                19/04/2017 - Geográfia
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-12 text-left">
                        Conteúdo - Globalização.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 text-left my-auto">
                        <button class="btn btn-sm btn-light"><i class="fa fa-paperclip"></i></button>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-link">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>