<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 form-group">
                <div class="card w-100 mt-2 mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <legend>{{alias}}</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <label class="control-label">Coordenador</label>
                                <selector v-model="model.coordenador" v-bind:query="ui.queryProfessor" placeholder="Professor" v-bind:label="ui.usuarioInfoLabel"></selector>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <label class="control-label">Data de Início</label>
                                <date-catcher v-model="model.dataInicio" placeholder="Data de início" label="DD/MM/YYYY" v-bind:model-as-date="true"></date-catcher>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <label class="control-label">Data de Expiração</label>
                                <date-catcher v-model="model.dataExpiracao" placeholder="Data de expiração" label="DD/MM/YYYY" v-bind:model-as-date="true"></date-catcher>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <div class="card w-100 mt-2 mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <legend>Novo Período</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Data de Ínicio</label>
                                <date-catcher v-model="ui.instituicaoCursoOcorrenciaPeriodo.dataInicio" placeholder="Data de início" label="DD/MM/YYYY" v-bind:model-as-date="true"></date-catcher>
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Data de Expiração</label>
                                <date-catcher v-model="ui.instituicaoCursoOcorrenciaPeriodo.dataExpiracao" placeholder="Data de Finalização" label="DD/MM/YYYY" v-bind:model-as-date="true"></date-catcher>
                            </div>
                            <div class="col-12 col-md-2 form-group">
                                <label class="control-label invisible">Ocupar</label>
                                <button class="btn btn-primary btn-block" v-on:click="saveInstituicaoCursoOcorrenciaPeriodo(ui.instituicaoCursoOcorrenciaPeriodo)" v-bind:disabled="!isAddInstituicaoCursoOcorrenciaPeriodoEnabled(ui.instituicaoCursoOcorrenciaPeriodo)">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card w-100 mt-2 mb-2" v-for="(instituicaoCursoOcorrenciaPeriodo,index) in model.instituicaoCursoOcorrenciaPeriodos">
                    <div class="card-header pt-2 pb-2">
                        <div class="row">
                            <div class="col-12 col-md-3 align-self-center">
                                <b>Data de Início: </b><span>{{getDateTimeLabel(instituicaoCursoOcorrenciaPeriodo.dataInicio)}}</span>
                            </div>
                            <div class="col-12 col-md-3 align-self-center">
                                <b>Data de Finalização: </b><span>{{getDateTimeLabel(instituicaoCursoOcorrenciaPeriodo.dataExpiracao)}}</span>
                            </div>
                            <div class="col-12 d-md-none">
                                <hr></hr>
                            </div>
                            <div class="col-12 col-md-4 align-self-center text-right">
                                <button class="btn btn-primary" v-on:click="toggleCollapseInstituicaoCursoOcorrenciaPeriodo(index)">
                                    Expandir
                                </button>
                                <button class="btn btn-danger" v-on:click="removeInstituicaoCursoOcorrenciaPeriodo(instituicaoCursoOcorrenciaPeriodo)">
                                    Excluir
                                </button>
                            </div>
                        </div>
                    </div>
                    <b-collapse class="card-body pt-2 pb-2" v-model="ui.instituicaoCursoOcorrenciaPeriodoCollapse[index]" v-bind:id="'p-'+index">
                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-0"></hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Data de ínicio</label>
                                <date-catcher v-model="instituicaoCursoOcorrenciaPeriodo.dataInicio" placeholder="Data de início" label="DD/MM/YYYY" v-bind:model-as-date="true"></date-catcher>
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Data de Finalização</label>
                                <date-catcher v-model="instituicaoCursoOcorrenciaPeriodo.dataExpiracao" placeholder="Data de Finalização" label="DD/MM/YYYY" v-bind:model-as-date="true"></date-catcher>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr></hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <ul class="nav nav-tabs card-header-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link" v-bind:class="{'active':isTabSelected('ALUNO',index)}" v-on:click="setTabSelected('ALUNO',index)">Alunos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" v-bind:class="{'active':isTabSelected('PROFESSOR',index)}" v-on:click="setTabSelected('PROFESSOR',index)">Professores</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body" v-show="isTabSelected('ALUNO',index)">
                                        <card-table v-bind:columns="getTableAlunos(instituicaoCursoOcorrenciaPeriodo).columns" v-bind:itens="instituicaoCursoOcorrenciaPeriodo.instituicaoCursoOcorrenciaPeriodoAlunos" v-bind:menu="getTableAlunos(instituicaoCursoOcorrenciaPeriodo).menu"></card-table>
                                    </div>
                                    <div class="card-body" v-show="isTabSelected('PROFESSOR',index)">
                                        <card-table v-bind:columns="getTableProfessores(instituicaoCursoOcorrenciaPeriodo).columns" v-bind:itens="instituicaoCursoOcorrenciaPeriodo.instituicaoCursoOcorrenciaPeriodoProfessores" v-bind:menu="getTableProfessores(instituicaoCursoOcorrenciaPeriodo).menu"></card-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-collapse>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group text-right">
                <button class="btn btn-primary" v-on:click="save()">Salvar</button>
            </div>
        </div>
    </div>
    <b-modal ref="modal-ocorrencia-periodo-professor" size=" mw-100" no-close-on-backdrop no-enforce-focus no-close-on-esc hide-header-close hide-footer title="Professor">
        <div class="row">
            <div class="col-12 col-md-3 form-group">
                <label class="control-label">Professor</label>
                <selector v-model="ui.instituicaoCursoOcorrenciaPeriodoProfessor.professor" v-on:change="onChangeProfessorAndCursoGradeMateria" v-bind:query="ui.queryProfessor" placeholder="Professor" v-bind:label="ui.usuarioInfoLabel"></selector>
            </div>
            <div class="col-12 col-md-3 form-group">
                <label class="control-label">Materia</label>
                <selector v-model="ui.instituicaoCursoOcorrenciaPeriodoProfessor.cursoGradeMateria" v-on:change="onChangeProfessorAndCursoGradeMateria" v-bind:itens="ui.cursoGradeMaterias" placeholder="Matéria" label="label"></selector>
            </div>
            <div class="col-12 col-md-3 form-group">
                <label class="control-label">Periodo</label>
                <selector v-model="ui.instituicaoCursoOcorrenciaPeriodoProfessor.instituicaoCursoPeriodo" v-on:change="onChangeProfessorAndCursoGradeMateria" v-bind:itens="ui.instituicaoCursoPeriodos" placeholder="Período" label="label"></selector>
            </div>
            <div class="col-12 col-md-3 form-group">
                <label class="control-label">Turma</label>
                <selector v-model="ui.instituicaoCursoOcorrenciaPeriodoProfessor.instituicaoCursoTurma" v-on:change="onChangeProfessorAndCursoGradeMateria" v-bind:itens="ui.instituicaoCursoTurmas" placeholder="Turma" label="label"></selector>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr></hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <label class="control-label">Dia</label>
                <selector v-model="ui.dayOfWeek" v-bind:disabled="!isSelectPeriodoAula()" v-bind:itens="ui.dayOfWeeks" placeholder="Dia" label="label"></selector>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="control-label">Horário</label>
                <selector v-model="ui.instituicaoCursoOcorrenciaPeriodoProfessorPeriodoAula" v-bind:disabled="!isSelectPeriodoAula()" v-bind:itens="getPeriodosDisponiveis(ui.instituicaoCursoOcorrenciaPeriodo,ui.instituicaoCursoOcorrenciaPeriodoProfessor,ui.dayOfWeek)"
                    placeholder="Horário" label="label">
                </selector>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="control-label invisible">Ocupar</label>
                <button class="btn btn-primary btn-block" v-bind:disabled="!isSelectPeriodoAula() || !ui.instituicaoCursoOcorrenciaPeriodoProfessorPeriodoAula" v-on:click="addInstituicaoCursoOcorenciaPeriodoProfessorPeriodoAula(ui.instituicaoCursoOcorrenciaPeriodoProfessorPeriodoAula)">Salvar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <card-table v-bind:columns="getTableProfessorPeriodoAulas(ui.instituicaoCursoOcorrenciaPeriodoProfessor).columns" v-bind:itens="ui.instituicaoCursoOcorrenciaPeriodoProfessor.instituicaoCursoOcorrenciaPeriodoProfessorPeriodoAulas" v-bind:menu="getTableProfessorPeriodoAulas(ui.instituicaoCursoOcorrenciaPeriodoProfessor).menu"></card-table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr></hr>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-left">
                <button class="btn btn-primary" v-on:click="closeDialogInstituicaoCursoOcorrenciaPeriodoProfessor()">Sair</button>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" v-on:click="saveInstituicaoCursoOcorrenciaPeriodoProfessor(ui.instituicaoCursoOcorrenciaPeriodoProfessor)" v-bind:disabled="!isAddInstituicaoCursoOcorrenciaPeriodoProfessorEnabled(ui.instituicaoCursoOcorrenciaPeriodoProfessor)">Salvar</button>
            </div>
        </div>
    </b-modal>
    <b-modal ref="modal-ocorrencia-periodo-aluno" size="lg" no-close-on-backdrop no-enforce-focus no-close-on-esc hide-header-close hide-footer title="Aluno">
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <label class="control-label">Aluno</label>
                <selector v-model="ui.instituicaoCUrsoOcorrenciaPeriodoAluno.aluno" v-bind:query="ui.queryAluno" placeholder="Aluno" v-bind:label="ui.usuarioInfoLabel"></selector>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="control-label">Turma</label>
                <selector v-model="ui.instituicaoCUrsoOcorrenciaPeriodoAluno.instituicaoCursoTurma" v-bind:itens="ui.instituicaoCursoTurmas" placeholder="Turma" label="label"></selector>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="control-label">Periodo</label>
                <selector v-model="ui.instituicaoCUrsoOcorrenciaPeriodoAluno.instituicaoCursoPeriodo" v-bind:itens="ui.instituicaoCursoPeriodos" placeholder="Período" label="label"></selector>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr></hr>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-left">
                <button class="btn btn-primary" v-on:click="closeDialogInstituicaoCursoOcorrenciaPeriodoAluno()">Sair</button>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" v-on:click="saveInstituicaoCursoOcorrenciaPeriodoAluno(ui.instituicaoCUrsoOcorrenciaPeriodoAluno)" v-bind:disabled="!isAddInstituicaoCursoOcorrenciaPeriodoAlunoEnabled(ui.instituicaoCUrsoOcorrenciaPeriodoAluno)">Salvar</button>
            </div>
        </div>
    </b-modal>
</div>