<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <div class="card mnh-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <legend>{{alias}}</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <input class="form-control" type="text" placeholder="Nome" v-model="model.nome">
                            </div>
                            <div class="col-12 form-group">
                                <input class="form-control" type="text" placeholder="Descrição" v-model="model.descricao">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group text-right">
                                <button class="btn btn-primary" v-on:click="save()">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 form-group">
                <curso-grade-management-component class="mnh-100" v-bind:curso="model" v-if="operation=='upd'"></curso-grade-management-component>
            </div>
        </div>
    </div>
</div>