<div class="row">
    <div class="col-12">
        <div class="row form-group">
            <div class="col-12">
                <div class="card form-group">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <legend>Alunos</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Data da Aula</label>
                                <date-catcher v-model="ui.dataAula" placeholder="Data da Aula" v-bind:model-as-date="true" label="DD/MM/YYYY" v-on:change="onDataAulaChanged"></date-catcher>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Aluno</th>
                                            <th>Ausências</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in ui.alunosAusenciaTotal">
                                            <td v-bind:data-column-name="item.instituicaoCursoOcorrenciaPeriodoAluno.aluno.nome" style="vertical-align:middle;">
                                                {{item.instituicaoCursoOcorrenciaPeriodoAluno.aluno.nome}}
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" v-model="item.count">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary" v-on:click="doBack()">
                    <span>Voltar</span>
                </button>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" v-on:click="doSave(ui.alunosAusenciaTotal)">
                    <span>Salvar</span>
                </button>
            </div>
        </div>
    </div>
</div>