<div class="row">

    <div class="col-12">
        <table class="table table-bordered table-striped table-sm" cellpadding="0" cellspacing="0" width="100%" border="1">
            <thead>
                <tr>
                    <th v-for="column in getColumns()" v-html="getColumnLabel(column)"></th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in getItens()">
                    <td class="align-middle" v-for="column in getColumns()" v-bind:data-column-name="getColumnLabel(column)" v-html="getColumnValue(column,item)"></td>
                    <td class="align-middle" v-bind:data-column-name="'Menu'">
                        <button class="btn btn-primary btn-sm m-1" type="button" role="button" v-bind:class="getMenuButtonClass(menuItem,item)" v-for="menuItem in getMenuRow()" v-bind:title="getMenuItemLabel(menuItem,item)" v-on:click="triggerMenuMethod(menuItem,item)">
                            <i v-bind:class="getMenuIconClass(menuItem,item)"></i><span class="pl-2" v-html="getMenuItemLabel(menuItem,item)"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>