<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <legend>{{alias}}</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <label class="control-label">Periodo</label>
                <selector v-model="model.periodo" v-bind:itens="periodos" placeholder="Periodo" label="label"></selector>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group text-right">
                <button class="btn btn-primary" v-on:click="save()">Salvar</button>
            </div>
        </div>
    </div>
</div>