<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <legend>{{alias}}</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 form-group">
                <multiselect v-model="curso" placeholder="Curso" :options="getCursos()" :multiple="false" select-label="" deselect-label="" label="label"></multiselect>
            </div>
            <div class="col-12 col-md-4 form-group">
                <multiselect v-model="model.cursoGrade" placeholder="Grade" :options="getCursoGrades()" :multiple="false" select-label="" deselect-label="" label="label"></multiselect>
            </div>
            <div class="col-12 col-md-4 form-group">
                <input class="form-control" type="date" v-model="model.dataInicio" placeholder="Data de Início">
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group text-right">
                <button class="btn btn-primary" v-on:click="save()">Salvar</button>
            </div>
        </div>
    </div>
</div>